<div class="container" style="background-color: white; max-width: 75%;">
  <div class="divide"></div>
  <div class="row text-center">
    <p class="footer col-sm-2"> &copy; {{ '2019 Actitude' }}</p>
    <p class="footer col-sm-7">{{ 'info@actitude.com and www.actitude.com' }}</p>
    <span class="footer col-sm-3">
      <a href="https://www.facebook.com/" target="_blank">{{ 'Facebook' }}</a>{{' * '}}
      <a href="https://www.linkedin.com/" target="_blank">{{'LinkedIn' }}</a></span>
  </div>
</div>
