<div class="container">
  <div>
    <img src="../../../assets/img/Close_Button.png" style="float: right" (click)="onDismiss()"/>
  </div>
  <div style="text-align: center; padding-top: 250px;">
    <h2 class="h2_black">{{ 'About Actitude' }}</h2>
    <h2 class="h2_black">{{ 'Actitude Projects' }}</h2>
    <h2 class="h2_black">{{ 'My Actitude Projects' }}</h2>
    <h2 class="h2_black">{{ 'New User?' }}</h2>
    <h2 class="h2_black">{{ 'Privacy' }}</h2>
    <h2 class="h2_black">{{ 'Log Out' }}</h2>
  </div>
</div>
