<div class="container main-panel" style="background-color: white;">
  <div>
    <img src="../../../assets/img/Close_Button.png" style="float: right; cursor: pointer" (click)="onDismiss()"/>
  </div>
  <div style="text-align: center; padding-top: 250px;">
    <h2 class="h2_black">{{ 'About Actitude' }}</h2>
    <h2 class="h2_black" (click)="goAllProjects()">{{ 'Actitude Projects' }}</h2>
    <h2 class="h2_black">{{ 'My Actitude Projects' }}</h2>
    <h2 class="h2_black" (click)="goSignUp()">{{ 'New User?' }}</h2>
    <h2 class="h2_black">{{ 'Privacy' }}</h2>
    <h2 class="h2_black" (click)="goLogout()">{{ 'Log Out' }}</h2>
  </div>
</div>
