<app-header [flag]="'login'"></app-header>

<div class="container main-panel" style="background-color: white;">
  <div style="text-align: center;">
    <h2 class="h2_dark" style="font-size: 70px; padding-bottom: 70px;">{{ 'Great you could join us!' }}</h2>
    <h2 class="h2_dark interest-content">{{ 'To get started, let\'s figure out your interests.' }}</h2>
    <h2 class="h2_dark interest-content">{{ 'We\'ll show you some choices and ask you to pick the' }}</h2>
    <h2 class="h2_dark interest-content">{{ 'one that you\'d perfect to work with on a volunteer'}}</h2>
    <h2 class="h2_dark interest-content">{{ 'basis'}}</h2>
    <button type="button" class="btn btn-info btn-go"><h4 class="h4_dark">{{ 'Go' }}</h4></button>
    <h2 class="h2_dark" style="font-size: 35px;">{{ 'It\'ll take approx. 3 min. to complete'}}</h2>
  </div>
</div>

<app-footer></app-footer>
