<app-header [flag]="'other'"
            (triggerShowMenu)="goMenu()"
            (triggerCloseMenu)="closeMenu()"
>
</app-header>

<div *ngIf="!showMenu">
  <div class="container main-panel" style="background-color: white;">
    <div style="text-align: center; padding-bottom: 70px;">
      <h1 class="h1_dark">{{ 'Would you rather work with...?' }}</h1>
    </div>
    <div class="row" style="margin: unset;">
        <div class="col-sm-5 img-div">

        </div>

        <div class="col-sm-2 text-center">
          <h1 class="h1_dark" style="position: relative; top: 50%;transform: translateY(-50%);">{{ 'or' }}</h1>
        </div>

        <div class="col-sm-5 img-div">

        </div>
    </div>
    <div class="row" style="padding-top: 50px;">
      <button type="button" class="btn explain_btn" style="margin: auto; margin-right: 10px"><h4 class="h4_dark">{{ 'Both' }}</h4></button>
      <button type="button" class="btn explain_btn" style="margin: auto; margin-left: 50px;"><h4 class="h4_dark">{{ 'Neither' }}</h4></button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
