.photo-div {
  background-color: #F3F3F3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.add-photo-btn {
  background-color: #F3F3F3!important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto!important;
  padding: 10px 0;
}

.create-body {
  border-top: 3px solid #F3F3F3;
  padding: 30px 10px;
}
