<app-header [flag]="'projects'"
            (triggerShowMenu)="goMenu()"
            (triggerCloseMenu)="closeMenu()"
>
</app-header>

<div *ngIf="!showMenu">
  <div class="container main-panel" style="background-color: white;">
    <div class="row create-head" style="padding-bottom: 30px;">
      <div class="col-sm-7">
        <p class="h2_black" style="font-size: 40px; cursor: unset;"> {{ 'Click here to edit your project title' }} </p>
      </div>
      <div class="offset-sm-1 col-sm-3 col-sm-1 photo-div">
        <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important; margin-left: 60px;" disabled>
          <span class="category-label" style="font-size: 16px;">{{ 'Add project photo' }}</span>
        </button>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'DESCRIPTION' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add basic description of the project' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'WHAT' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add concrete goal' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'WHO' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add gender or age group' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'WHERE' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add country name' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'FUNDING' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add funding option here' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <button class="category category-btn text-center" style="border: 2px solid #AFD8EA!important; padding: 10px 0; width: 45%; height: auto!important;" disabled>
            <span class="category-label" style="font-size: 16px;">{{ 'Raise additional funds for this project' }}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'WHEN' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add a date/deadline' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'STATUS' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add company here' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'EXISTING COMPANIES' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Microsoft' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <img src="../../../assets/img/Delete.png"/>
          </div>
        </div>
        <div class="row mt-2" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add company here' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body">
      <div class="col-sm-3">
        <span class="project-description" style="font-size: 20px;">{{ 'TEAM' }}</span>
      </div>
      <div class="offset-sm-1 col-sm-8">
        <div class="row">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Eman Samy Arafa' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <img src="../../../assets/img/Delete.png"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Henry Zinglersen' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <img src="../../../assets/img/Delete.png"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Linda Bak Zinglersen' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <img src="../../../assets/img/Delete.png"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Mariam Al-Molla' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <img src="../../../assets/img/Delete.png"/>
          </div>
        </div>
        <div class="row mt-2" style="background-color: #F3F3F3;border-radius: 60px;">
          <div class="col-sm-7">
            <span class="project-description">{{ 'Add team member here' }}</span>
          </div>
          <div class="offset-sm-3 col-sm-2">
            <button class="category category-btn add-photo-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
              <span class="category-label" style="font-size: 16px;">{{ 'Add' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row create-body" style="padding-bottom: 100px; text-align: center!important;">
      <button type="button" class="btn save_project_btn" style="margin: auto;" (click)="goMyProject()"><h4 class="h4_dark">{{ 'Save project' }}</h4></button>
    </div>

  </div>

  <app-footer></app-footer>
</div>
