<app-header [flag]="'projects'"></app-header>

<div class="container main-panel" style="background-color: white;">
  <div class="row">
    <a class="h2_black col-sm-3" style="text-align: left;"><span class="underline">{{ 'All projects' }}</span></a>
    <a class="h2_black col-sm-3" style="text-align: left;"><span class="unset-underline">{{ 'Your projects' }}</span></a>
    <button class="category col-sm-1" disabled><span class="category-label">{{ 'Age: 0-20' }}</span><img style="text-align: right" src="../../../assets/img/Triangle.png"></button>
    <button class="category col-sm-1" disabled><span class="category-label">{{ 'Middle east' }}</span><img style="text-align: right" src="../../../assets/img/Triangle.png"></button>
    <button class="category col-sm-1" disabled><span class="category-label">{{ 'Education' }}</span><img style="text-align: right" src="../../../assets/img/Triangle.png"></button>
    <button class="category col-sm-1" disabled><span class="category-label">{{ 'All genders' }}</span><img style="text-align: right" src="../../../assets/img/Triangle.png"></button>
  </div>
  <div class="row">

  </div>
</div>

<app-footer></app-footer>
