<app-header [flag]="'projects'"
            (triggerShowMenu)="goMenu()"
            (triggerCloseMenu)="closeMenu()"
>
</app-header>

<div *ngIf="!showMenu">
  <div class="container main-panel" style="background-color: white;">
    <div class="row create-head" style="padding-bottom: 30px;">
      <div class="col-sm-8 text-center">
        <h2 class="h2_black" style="font-size: 40px; cursor: unset;"> {{ 'Improving education in existing schools for' }} </h2>
        <h2 class="h2_black" style="font-size: 40px; cursor: unset;"> {{ 'children in less privileged areas of the world.' }} </h2>
      </div>
      <div class="col-sm-4">
        <img src="../../../assets/img/beautiful_scenery.jpg" height="220">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'DESCRIPTION' }}</span>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'WHEN' }}</span>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'FUNDING' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'WHAT' }}</span>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'STATUS' }}</span>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'TEAM' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'WHO' }}</span>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'EXISTING COMPANIES' }}</span>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
        <span class="project-description" style="font-size: 20px;">{{ 'WHERE' }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
      </div>
    </div>

    <div class="row text-center" style="padding-bottom: 100px; padding-top: 50px;">
      <div class="col-sm-12">
        <h2 class="h2_black">{{ 'Are you interested in joining this cause?' }}</h2>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn save_project_btn" style="margin: auto;"><h4 class="h4_dark">{{ 'Get in touch' }}</h4></button>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
