<app-header [flag]="'projects'"
            (triggerShowMenu)="goMenu()"
            (triggerCloseMenu)="closeMenu()"
>
</app-header>

<div *ngIf="!showMenu">
  <div class="container main-panel" style="background-color: white;">
    <div class="row create-head" style="padding-bottom: 30px;">
      <div class="col-sm-8 text-center">
        <h2 class="h2_black" style="font-size: 40px; cursor: unset;"> {{ 'Improving education in existing schools for' }} </h2>
        <h2 class="h2_black" style="font-size: 40px; cursor: unset;"> {{ 'children in less privileged areas of the world.' }} </h2>
      </div>
      <div class="col-sm-4">
        <img src="../../../assets/img/beautiful_scenery.jpg" height="220">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
        <h2 class="detail-titles">{{ 'DESCRIPTION' }}</h2>
        <h2 class="detail-description">{{ 'Through improved curriculum design and improved teacher education.' }}</h2>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
        <h2 class="detail-titles">{{ 'WHEN' }}</h2>
        <ul>
          <li>
            <h2 class="detail-description">{{ 'Before 1/July/2019: max 3 hours per week.' }}</h2>
          </li>
          <li>
            <h2 class="detail-description">{{ 'After 1/July/2019: max 30 hours per week.' }}</h2>
          </li>
        </ul>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
        <h2 class="detail-titles">{{ 'FUNDING' }}</h2>
        <h2 class="detail-description">{{ 'Self-funded (250,000 USD available)' }}</h2>
        <button class="category category-btn text-center" style="border: 2px solid #AFD8EA!important;" disabled>
          <span class="category-label" style="font-size: 15px;">{{ 'Raise additional funds for this project' }}</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
        <h2 class="detail-titles">{{ 'WHAT' }}</h2>
        <ul>
          <li>
            <h2 class="detail-description">{{ 'Designing / improving the concept / curriculum' }}</h2>
          </li>
          <li>
            <h2 class="detail-description">{{ 'Teaching teachers' }}</h2>
          </li>
        </ul>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
        <h2 class="detail-titles">{{ 'STATUS' }}</h2>
        <div style="display: flex; position: relative;">
          <button class="ready-btn"></button>
          <h2 class="detail-description" style="padding-left: 20px;">{{ 'Approved' }}</h2>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
        <h2 class="detail-titles">{{ 'TEAM' }}</h2>
        <h2 class="detail-description">{{ 'Eman Samy Arafa' }}</h2>
        <h2 class="detail-description">{{ 'Henry Zinglersen' }}</h2>
        <h2 class="detail-description">{{ 'Linda Bak Zinglersen' }}</h2>
        <h2 class="detail-description">{{ 'Mariam Al-Molla' }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
        <h2 class="detail-titles">{{ 'WHO' }}</h2>
        <h2 class="detail-description">{{ 'Women, Age 12-40' }}</h2>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
        <h2 class="detail-titles">{{ 'EXISTING COMPANIES' }}</h2>
        <h2 class="detail-description">{{ 'No known organizations' }}</h2>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
        <h2 class="detail-titles">{{ 'WHERE' }}</h2>
        <h2 class="detail-description">{{ 'Thailand, Indonesia, Philippines, Vietnam, Sri Lanka, Myanmar, Jordan, Lebannon + 5 more' }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 detail-body">
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-4 detail-body">
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-3 detail-body">
      </div>
    </div>

    <div class="row text-center" style="padding-bottom: 100px; padding-top: 50px;">
      <div class="col-sm-12">
        <h2 class="h2_black">{{ 'Are you interested in joining this cause?' }}</h2>
      </div>
      <div class="col-sm-12">
        <button type="button" class="btn save_project_btn" style="margin: auto;"><h4 class="h4_dark">{{ 'Get in touch' }}</h4></button>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
