.login {
  padding-right: 10px;
  font-size: 25px;
  cursor: pointer;
  font-family: 'robotoslab-blod';
  color: #103E51!important;
}

.bg-info {
  background-color: white!important;
  border-radius: 10px!important;
}

.h2_white {
  font-family: 'robotoslab-bold';
  color: #FFFFFF;
  font-size: 40px;
  text-shadow: #000000;
  opacity: 100%;
  letter-spacing: 5px;
}

.h1_white {
  font-size: 80px;
}
