<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-info" style="display: flex">
    <a class="navbar-brand" style="flex: 1">
      <h1 class="logo">{{ 'ACTITUDE' }}</h1>
    </a>
    <a class="login">{{ 'Login' }}</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div>
    <h2 class="h2_white">{{ 'Be a volunteer for a better world' }}</h2>
    <h1 class="h2_white h1_white">{{ 'Join to share ideas and' }}</h1>
    <h1 class="h2_white h1_white">{{ 'work for a better world' }}</h1>
  </div>
</div>
