/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~flag-icon-css/css/flag-icon.min.css";

body
{

}

.body-container{
  margin-left:auto;
  margin-right:auto;
  min-height: 100vh;
  background-color: #F3F3F3;
}

.main-panel {
  min-height: 100vh;
  padding-top: 50px;
  max-width: 75%;
}

.h2_dark {
  font-family: 'robotoslab-bold';
  color: #103E51;
  font-size: 50px;
}

.h1_dark {
  font-family: 'robotoslab-bold';
  color: #103E51;
  font-size: 65px;
}

.h4_dark {
  font-family: 'robotoslab-bold';
  font-size: 25px;
  text-shadow: #000000;
  opacity: 100%;
  padding: 10px;
  letter-spacing: 3px;
  color: #103E51;
}

.h3_dark {
  font-family: 'robotoslab-bold';
  font-size: 20px;
  color: #103E51;
}

.h5_dark {
  font-family: robotoslab-bold;
  font-size: 20px;
  color: #103E51;
  padding-top: 20px;
  cursor: pointer;
}

.btn-info {
  background-color: #AFD8EA!important;
  border-radius: 60px;
  color: #AFD8EA;
  padding: 20px!important;
}

.save_project_btn {
  border-radius: 60px;
  background-color: #AFD8EA;
  padding: 15px 80px!important;
}

.explain_btn {
  border-radius: 60px;
  background-color: #AFD8EA;
  padding: 0 50px!important;
}

.explain_last_btn1 {
  border-radius: 60px 0 0 60px;
  background-color: #AFD8EA;
  margin: auto;
  height: 20px;
  padding: 0 20px!important;
  margin-right: 0;
}

.explain_last_btn2 {
  border-radius: 0 60px 60px 0;
  background-color: #F3F3F3;
  margin: auto;
  height: 20px;
  margin-left: 0;
  padding: 0 100px!important;
}

.input-info {
  background-color: #F3F3F3;
  border-radius: 60px;
  color: #103E51;
  padding: 20px!important;
  border: none;
  width: 400px;
  height: 80px;
}

.category {
  border-radius: 60px;
  background-color: #F3F3F3!important;
  border: none;
  height: 30px!important;
  margin-left: 10px;
  text-align: left;
}

.category-btn {
  background-color: white!important;
  border: 2px solid #F3F3F3!important;
}

.ex-sub-btn {
  margin-top: 20px;
  background-color: white!important;
  border: 2px solid #F3F3F3!important;
}

.load_btn {
  font-size: 17px!important;
}

.ready-btn {
  border-radius: 60px;
  background-color: darkgreen!important;
  border: none;
  height: 25px!important;
  width: 25px!important;
}

.category-label {
  font-family: robotoslab-bold;
  font-size: 13px;
  color: #103E51;
  padding: 5px 20px;
}

.category-label1 {
  font-family: roboto-bold;
  color: #103E51;
  font-size: 13px;
}

::placeholder {
  color: #103E51;
  font-family: 'roboto-bold';
  font-size: 25px;
}

.divide {
  border-top: 4px solid #103E51;
  border-radius: 4px;
}

.logo {
  font-family: 'logo';
  font-size: 60px;
  color: #103E51;
  cursor: pointer;
}

.navbar-toggler {
  display: block!important;
  border: none!important;
}

.h2_black {
  font-family: 'robotoslab-bold';
  color: #103E51;
  font-size: 30px;
  text-shadow: #000000;
  opacity: 100%;
  letter-spacing: 2px;
  line-height: 70px;
  cursor: pointer;
}

.project-description {
  font-family: roboto-bold;
  color: #103E51;
  font-size: 17px;
  text-shadow: #000000;
  opacity: 100%;
  letter-spacing: 2px;
  line-height: 70px;
  cursor: pointer;
}

.detail-titles {
  font-family: roboto-bold;
  color: #103E51;
  font-size: 20px;
  text-shadow: #000000;
  opacity: 100%;
  letter-spacing: 2px;
  line-height: 30px;
}

.detail-description {
  font-family: roboto-bold;
  color: #103E51;
  font-size: 17px;
  text-shadow: #000000;
  opacity: 100%;
  letter-spacing: 2px;
}

.underline {
  border-bottom: 4px solid #AFD8EA;
  display: inline-block;
  line-height: 1.5;
}

.unset-underline {
  border-bottom: 4px solid #F3F3F3;
}

.project-card {
  box-shadow: 5px 5px 5px 5px #F3F3F3;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  cursor: pointer;
}

@font-face {
  font-family: logo;
  src: url(assets/Fonts/SonicaBrush_Crashed/Resistenza_Sonica.Brush.Crashed.otf) format("opentype");
}
/* Roboto */
@font-face {
  font-family: roboto-black;
  src: url(assets/Fonts/Roboto/Roboto-Black.ttf) format("opentype");
}
@font-face {
  font-family: roboto-blackitalic;
  src: url(assets/Fonts/Roboto/Roboto-BlackItalic.ttf) format("opentype");
}
@font-face {
  font-family: roboto-bold;
  src: url(assets/Fonts/Roboto/Roboto-Bold.ttf) format("opentype");
}
@font-face {
  font-family: roboto-bolditalic;
  src: url(assets/Fonts/Roboto/Roboto-BoldItalic.ttf) format("opentype");
}
@font-face {
  font-family: roboto-italic;
  src: url(assets/Fonts/Roboto/Roboto-Italic.ttf) format("opentype");
}
@font-face {
  font-family: roboto-light;
  src: url(assets/Fonts/Roboto/Roboto-Light.ttf) format("opentype");
}
@font-face {
  font-family: roboto-lightitalic;
  src: url(assets/Fonts/Roboto/Roboto-LightItalic.ttf) format("opentype");
}
@font-face {
  font-family: roboto-medium;
  src: url(assets/Fonts/Roboto/Roboto-Medium.ttf) format("opentype");
}
@font-face {
  font-family: roboto-mediumitalic;
  src: url(assets/Fonts/Roboto/Roboto-MediumItalic.ttf) format("opentype");
}
@font-face {
  font-family: roboto-regular;
  src: url(assets/Fonts/Roboto/Roboto-Regular.ttf) format("opentype");
}
@font-face {
  font-family: roboto-thin;
  src: url(assets/Fonts/Roboto/Roboto-Thin.ttf) format("opentype");
}
@font-face {
  font-family: roboto-thinitalic;
  src: url(assets/Fonts/Roboto/Roboto-ThinItalic.ttf) format("opentype");
}

/* Roboto_Slab */
@font-face {
  font-family: robotoslab-bold;
  src: url(assets/Fonts/Roboto_Slab/RobotoSlab-Bold.ttf) format("opentype");
}
@font-face {
  font-family: robotoslab-light;
  src: url(assets/Fonts/Roboto_Slab/RobotoSlab-Light.ttf) format("opentype");
}
@font-face {
  font-family: robotoslab-regular;
  src: url(assets/Fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format("opentype");
}
@font-face {
  font-family: robotoslab-thin;
  src: url(assets/Fonts/Roboto_Slab/RobotoSlab-Thin.ttf) format("opentype");
}


.button-group>button, .button-group>span {
  position: absolute;
  top: 50%;
  right: 48px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.button-group>span {
  right: 0!important;
  font-size: 15px;
}

.create-head p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.category-head {
  display: flex;
  position: relative
}
.category-head>button {
  padding: 0!important;
  flex: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.category-head>button>img {
  margin-left: 15px;
}

.yourproject-head {
  display: flex;
  position: relative
}

.yourproject-head>button {
  padding: 20px 0!important;
  flex: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

button {
  cursor: pointer;
}

.photo-div {
  background-color: #F3F3F3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.create-body {
  border-top: 3px solid #F3F3F3;
  padding: 30px 10px;
}

.detail-body {
  border-top: 3px solid #F3F3F3;
  padding: 10px 10px;
}

img {
  object-fit: cover;
}
